$primary: #089DAD;
$hover: #daedf0;
$active: #2bdff7;
$secondaSry: #ffb317;
$accent: #82b1ff;
$error: #bb1c2c;
$info: #1078f5;
$success: #4ecd79;
$warning: #fd9523;
$text_weight: #333;
$text_normal: #666;
$text_light: #999;
$primary_shade: rgba($primary, 0.12);
